.list {
  list-style: none;
  padding: 0;
  margin: 0;


  li {
    background: #fff;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
    border-bottom: 1px solid #e6ecf0;
    background-clip: padding-box;
    min-height: 51px;
    padding: 9px 12px;
  }
}