.flex {
  display: flex;
}

.gutters {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 600px) {
  .gutters {
    padding-left: 24px;
    padding-right: 24px;
  }
}

body {
  background: #e6ecf0;
  color: #14171a;
  font-family: Helvetica, Arial, sans-serif;
}


.width-wrapper {
  max-width: 1300px;
}